<!DOCTYPE html>
<html lang="en">
<title>{{{title}}}</title>
<meta name="viewport" content="width=device-width" />
<meta name="description" content="Node Express Practice Apps">
<head>
{{#if (isPro)}}
	<script> if ( location.href.startsWith("http:") && ! location.href.includes(":3000")) location.href = "https" + location.href.slice(4); </script >
{{/if}}
<link rel="icon" href="/favicon.png">
<link rel="apple-touch-icon" href="/favicon.png">
<style>

* {
	font-family: Fredoka, sans-serif, cambria,calibri;
	font-weight: 350;
}

body {
	opacity: 1;
}

</style>
</head>
<body>
	
<nav id="mainNav" class="dnl-bg">
	<div id="hmbgr" onclick="hmbgr.t(sp.t)"> <hr /><hr /><hr /> </div>
	<div id="mainH">
		{{{mainHeading}}}
	</div>
	<div class="user-control"><div icon="user" onclick="t_uc.t()"></div>
		<div class="uc-menu">
			
		</div>
	</div>
</nav>

<div id="sidePanel" style="transform: translateX(-250px);">
	<a href="/"  class="item" view="index" onclick="setView('index' , location.href.split('/').at(-1) != 'index'); return false;"> HOME </a>
	<div class="item"> Contact me </div>
	<div class="item"> About me </div>
	<a href="/signup"  class="item" onclick="setView('signup' , location.href.split('/').at(-1) != 'index'); return false;"> LOGIN / SIGNUP </a>

</div>

	<div id="body" class="viewport">
	{{{body}}}
	</div>
</body>

<script>
const isDev = {{{isDev}}};
const __appV = {{{appV}}};
const pwd = "{{{pwd}}}";

if ( isDev ){
	for(let item of Object.keys(localStorage)) {
		if ( item.startsWith("book") || item.startsWith("eruda")  || item == "lastYtdlVideo")  continue;
		localStorage.removeItem(item)
	}
};
history.pushState({ view : location.href.split("/").at(-1).split("?")[0].split(".")[0] } , "", "");
{{#if (isDev)}}

	let worker = new Worker("/js/liveReload.js");
	worker.onmessage = function () {
		location.href = location.href;
	}
	
{{/if}}
if ('serviceWorker' in navigator)
	navigator.serviceWorker.register('/js/sw.js');
	
{{#unless (isDev)}}
{{{getCJ}}}
{{/unless}}

</script>

{{#if (isDev)}}
	<script src="/js/getCJ.js"></script>		
{{/if}}

<script>_getCJ.init({a : "CJ ", cb : () => (document.body.style.opacity = '1') });</script>

</html>